services:
  - type: web
    name: fastapi-todo-api
    runtime: python
    branch: main
    plan: free
    dockerfilePath: Dockerfile
    buildCommand: ""
    startCommand: "uvicorn app.main:app --host 0.0.0.0 --port $PORT --loop uvloop --http httptools"
    healthCheckPath: "/"
