name: Run DB migrations

on:
  push:
    branches: [ main ]

jobs:
  migrate:
    name: Run Alembic migrations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Display python version
        run: python --version
